*{
    margin: 0;
    padding: 0;
    font-family: Poppins,  Actor, Adamina;
}
.sect-1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../images/moving\ 1.png");
    background-repeat: no-repeat;
    padding: 100px 100px;
}
.sect-1 >, .nav_bar{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    margin-right: 30px;
}
.sect-1 >, .nav_bar > ul{
    text-decoration: none;
    list-style-type: none;
    margin-left: 30px;
    padding: 3px;
    display: flex;
    float: right;

} 
