*{
    margin: 0;
    padding: 0;
    font-family: Poppins,  Actor, Adamina;
}
.sect-1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../images/moving\ 1.png");
    background-repeat: no-repeat;
    padding: 100px 100px;
}
.sect-1 >, .nav_bar{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
}
.nav_bar > ul{
    list-style-type: none;
    margin-top: 2px;
} 
.nav_bar > ul > li{
     display: inline;
     padding-inline-end: 20px;
     text-decoration: none;
}
