*{
    margin: 0;
    padding: 0;
    font-family: Poppins,  Actor, Adamina;
}
.sect-1{
    width: 100%;
    background: linear-gradient(to top,grey 50%,grey 50%),url(moving1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-image:url("../images/moving\ 1.png") ;
}
.nav_bar{
    width: 690px;
    height: 70px;
    margin: auto;
}
.nav_bar > ul{
    list-style-type: none;
    margin-top: 2px;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.nav_bar > ul > li{
     list-style: none;
     padding-inline-end: 10px;
     margin-left: 20px;
     margin-top: 30px;
     font-size: 15px;
}
ul> li > a{
    text-decoration: none;
     color: white;
     font-size: 15px;
     transition: 0.1 ease-in-out;     
}
ul> li > a:hover{
    color: #FAFF00;
}
.btn1 > button{
   color: black;
   background-color: #FFAC12; 
   width: 50px;
   height: 20px;
   border: none;
   border-radius: 0px;
   font-size: 15px;
   
}
.btn2 > button{
    color: #FAFF00;
    background-color: black; 
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 0px;
    font-size: 15px;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}
.content,.cont-p{
    padding-left: 20px;
    padding-bottom: 25px;
    padding-top: 40px;
    letter-spacing: 1.2px;
    line-height: 40px;
}
#change{
    color: #FAFF00;
    font-size: 40px;
}
#roof{
    color: white;
    font-size: x-large;
    line-height: 20px;
    
}



